@{

    ViewBag.Title = "Tony's Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">This is a ASP.NET web page created by Tony.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>My Azure Web App</h2>
        <p>
            This page has been stored in GitHub (URL : https://github.com/tonypittt/azureRepository.git)
        </p>
        <p><a class="btn btn-default" href="https://github.com/tonypittt/azureRepository.git">Goto GitHub</a></p>
    </div>
    <div class="col-md-4">
        <h2>The Azure web app has been created by mapping it to the GitHub Repository. </h2>
    </div>
</div>